:root {
    --background-primary-color: #000000;
    --text-link-color: #F3772B;
    --background-secondary-color: #F79871;
    --font-family-primary: "Libre Baskerville", serif;
}



.navbar li {
    display: inline;
    justify-content: end;
}

.form-group {
    text-align: left
}

.footerNav li {
    display: inline;
    padding-right: 2rem;
}

.footerNav p {
    text-align: center
}

.col-padding {
    padding-right: 6rem;
    padding-left: 6rem;
}

.navbar {
    background-color: var(--background-primary-color);
    padding-bottom: 1.625rem;
    border-bottom: var(--text-link-color) 1px solid;
    padding-top: 1.625rem;
}

header nav ul li a{
    color: #d5dddac2;
}

.hero {
    background-color: var(--background-primary-color);
    color: white;
}

.banner {
    padding: 40px
}

.team {
    background-color: #eeeeee;
}

.panel--dark {
    background-color: var(--background-primary-color);
    color: #fff;
}
footer {
    padding: 1rem;
}

header a:hover {
    color: var(--text-link-color);
}

.panel {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

second-title {
    margin-bottom: 5rem;
}

h1 { 
    color: #fff; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;; 
}

h2, h3, h4, h5 {
  margin-bottom: 2.375rem;
  color: #F3772B;
}

.about img{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.our-team {
  padding-bottom: 3.5rem;
}

.team .card {
    background-color: transparent;
    border: none;
}

.team .card-footer {
    background-color: transparent;
    border: none;
}

.nav-pills .nav-link.active {
    color: #a7a7a7d8;
    background-color: #fff;
    border: 1px solid  #2c3e50;
}

.nav-pills .nav-link {
    color: #a7a7a7d5;
    border: 1px solid #cccccc;
}

.nav-link {
    margin-right: 0.68rem;
}

.portfolio .nav {
    margin-bottom: 2.9375rem;
    margin-top: 2.9375rem;
}


.portfolio .card-deck {
    padding-bottom: 3.5rem;
}

.portfolio .card-deck {
    padding-bottom: 3.5rem;
}

footer nav ul li a{
    color: #6b6b6b;
}

.form-padding {
    padding-right: 6.5625rem;
    padding-left: 6.5625rem;
}

footer a:hover {
    color: var(--text-link-color);
    text-decoration: none;
}

.about-background {
    background-color: #d4cbcbe1;
}

.par-1a2 {
    color: #7a7c7f; font-size: 20px; font-family: var(--font-family-primary) ; line-height: 25px; text-shadow: 0 1px 1px #fff;
}

.card-img-top {
    -webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
}

.btn-primary {
    background-color: #F3772B;
    border-color: #F3772B
}