.navbar li {
    display: inline;
    justify-content: end;
}

.footerNav li {
  
    display: inline;
}

footer nav ul li a{
    color: #6b6b6b;
}

.navbar {
    background-color: #2c3e50;
    padding-bottom: 1.625rem;
    border-bottom: 1px solid #253342;
    padding-top: 1.625rem;
}

header nav ul li a{
    color: #7e95ae;
}

.hero {
    background-color: #2c3e50;
    color: white
}

.team {
    background-color: #eeeeee;
}

.panel--dark {
    background-color: #eeeeee
}
footer {
    padding: 1rem;
}

a:hover {
    color: #fff;
}

.panel {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h1 {
    margin-bottom: 5rem;
}

h2, h3, h4, h5 {
  margin-bottom: 2.375rem
}

.about img{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.our-team {
  padding-bottom: 3.5rem;
}

.team .card {
    background-color: transparent;
    border: none;
}

.team .card-footer {
    background-color: transparent;
    border: none;
}

.nav-pills .nav-link.active {
    color: #a7a7a7d8;
    background-color: #fff;
    border: 1px solid  #2c3e50;
}

.nav-pills .nav-link {
    color: #a7a7a7d5;
    border: 1px solid #cccccc;
}

.nav-link {
    margin-right: 0.68rem;
}

.portfolio .nav {
    margin-bottom: 2.9375rem;
    margin-top: 2.9375rem;
}


.portfolio .card-deck {
    padding-bottom: 3.5rem;
}

.portfolio .card-deck {
    padding-bottom: 3.5rem;
}
